 @font-face {
	font-family: 'century-gothic-bold';
	src: url('Fonts/century-gothic-bold.eot');
	src: url('Fonts/century-gothic-bold.ttf') format('truetype'),
		 url('Fonts/century-gothic-bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
 
 html,
 body, 

 #viewDiv {
	padding: 0;
    margin: 0;
    height: 100%;
    width: 93%;
	float: right;
}

#homeDiv {
    left: 20.3%;
    top: 19%;
    z-index: 35;
    position: absolute;
}
h4{
	font-family: 'century-gothic-bold';
}
p{
	font-family: 'century-gothic-bold';
} 
#filterOptions{
	font-family: 'century-gothic-bold'; 
	position: fixed;
	bottom: 0;
	left: 0;
}
.tab {
  font-family: 'century-gothic-bold'; 
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #7e838c;
  position: absolute;
  width: 19.54%;
  height: 99.8%;
  float: left;
  left: 0;
  top: 0;
 
}
.tab button {
  font-family: 'century-gothic-bold'; 
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  position: absolute;
  float: left;
  width: 19.03%;
  height: 80%;
  left: 0;
  top: 70px;
  background: #7e838c;
  padding-left: 10px;
  
}

.slider {
  font-family: 'century-gothic-bold'; 
  -webkit-appearance: slider-vertical;  /* Override default CSS styles */
  appearance: none;
  align: center; 
  width: 100%; /* Full-width */
  height: 70%; /* Specified height */
  background: #7e838c; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
#curYear {
	font-family: 'century-gothic-bold'; 
	text-align: center;
}
#hlModeLbl {
	font-family: 'century-gothic-bold'; 
	padding-left: 10px;
}

#SearchTB {
	font-family: 'century-gothic-bold'; 
	width: 19.54%;
	height: 80%;
	background-color: #7e838c;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.sldrSwitch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sldrSwitch:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sldrSwitch {
  background-color: #26C4A5;
}

input:focus + .sldrSwitch {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sldrSwitch:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#ckBx{
	margin:4px;
    background-color:#7e838c;
    border-radius:4px;
	border: 1px solid #000000;
    overflow:auto;
    float:left;
}


#ckBx label span {
	font-family: 'century-gothic-bold'; 
    text-align:center;
    padding:3px 3px;
    display:block;
	border-radius: 4px;
}

#ckBx label input {
	font-family: 'century-gothic-bold'; 
    position:absolute; 
}

#ckBx input:checked + span {
	font-family: 'century-gothic-bold'; 
    background-color: #26C4A5;
	outline:none;
}


#ftlrSelect{
	font-family: 'century-gothic-bold'; 
	right: 28%;
	margin-bottom: 10px;
	border-radius: 4px;
	background-color: #ccc; 
}

.ftlrBtn {
	font-family: 'century-gothic-bold'; 
	position:absolute;
	right: 26%;
	bottom: 0;
	background-color: #ccc;
	border: none;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.highlightModeField {
	
}

.highlightModeField input {
	position: absolute;
	font-family: 'century-gothic-bold'; 
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.highlightModeField label {
	font-family: 'century-gothic-bold'; 
	background-color: #ccc;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid black;
	
}

.highlightModeField input:checked + label {
	font-family: 'century-gothic-bold'; 
	background-color: #26C4A5;
	box-shadow: none;
}

.highlightModeField label {
	font-family: 'century-gothic-bold'; 
	border-radius: 4px;
}


